* {
	margin: 0;
	padding: 0;
}
.container {
	height: 100vh;
	width: 100vw;
	background-color: #faebd7;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

h1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 80px;
}
h2 {
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
}

#video_container {
	margin: 0px auto;
	width: 500px;
	height: 375px;
	border: 10px #333 solid;
}
#videoElement {
	width: 500px;
	height: 375px;
	background-color: #667;
}

.on_button {
	background-color: #00ff3c;
}
.off_button {
	background-color: #fe0000;
}
.on_button,
.off_button {
	font-size: 25px;
	border: none;
	color: #ffffff;
	text-decoration: none;
	height: 200px;
	width: 200px;
	border-radius: 100px;
}

.on_label {
	background-color: #00ff3c;
}
.off_label {
	background-color: #fe0000;
}
.on_label,
.off_label {
	border-radius: 3px;
	padding: 0 0.4ch;
}
