<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA=compatible" content="IE=edge" />
		<title>CROSS WALK</title>
		<link rel="stylesheet" href="static/css/styles.css" />
	</head>
	<body>
		<h1>CROSS AID</h1>
		<h2>Status: Powered Off</h2>
		<div id="container">
			<video autoplay="true" id="videoElement"></video>
		</div>
		<script></script>

		<div id="buttons">
			<!-- replace the "on click" route with your function -->
			<button class="on_button" onclick="window.location.href='/on'">
				POWER ON
			</button>
		</div>
	</body>
</html>
