<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA=compatible" content="IE=edge" />
		<title>CROSS WALK</title>
		<link rel="stylesheet" href="static/css/styles.css" />
	</head>
	<body>
		<div class="container">
			<h1>CROSS AID</h1>
			<h2>Status: <span class="off_label">Powered Off</span></h2>
			<div id="video_container">
				<video autoplay="true" id="videoElement"></video>
			</div>
			<script></script>

			<div id="buttons">
				<button class="on_button" onclick="window.location.href='/on'">
					POWER ON
				</button>
			</div>
		</div>
	</body>
</html>
